%html
  %head
    %title= "Unhyperbole"
    %link{:rel => "stylesheet", :type => "text/css", :href => 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic&subset=latin,latin-ext'}    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css?1"}
  %body
    %div{:id => "header"}
      %p
        <a href="http://github.com/damncabbage/">Rob</a> and <a href="http://github.com/pyrmont/">Mike</a> had fun making this. Check out the <a href="http://github.com/pyrmont/unhyperbole/">code on Github</a> to see what we're doing. You can, and should, read the inimitable Mr Siegler&#146;s work in full at <a href="http://techcrunch.com/author/mg-siegler/">TechCrunch</a>. Rest assured, we&#146;re working on an algorithm to insert random stills from movies into each post.
    %h1
      <strong>Unhyperbole</strong>: #{slogan}
    #{html}
    %div{:id => "footer"}
      &#8226; &#8226; &#8226;
    