%html
  %head
    %title= "Unhyperbole"
    %link{:rel => "stylesheet", :type => "text/css", :href => 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic&subset=latin,latin-ext'}    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheet.css?1"}
  %body
    %h1
      Unhyperbole
    #{html}
    %div{:id => "footer"}
      %p
        Rob and Mike had fun making this. You can and should read the inimitable Mr Siegler&#146;s work in full at <a href="http://techcrunch.com/author/mg-siegler/">TechCrunch</a>. Rest assured, we&#146;re working on an algorithm to insert random photos of movies into each post.